body {
    background-color: lightgray;
}

h1 {
    color: black;
    border: 5px solid purple;
    background-color: white;
      box-shadow: 4px 4px 7px gray;
}
h2 {
    color: black;
    background-color: white;
    border: 5px solid purple;
    text-align: left
    margin: 5px 10px;
    padding: 5px 10px;
    box-shadow: 4px 4px 7px gray;
}
a {
    color: purple;
}

#main-menu ul {
    list-style-type: none;
    text-align: center;
}

#main-menu ul li {
    display: inline;
    padding: 1em;
    margin: 0px;
    width: 200px;
    background-color: purple;
    color: Black;
    box-shadow: 2px 2px 5px gray;
}

#main-menu ul li a {
    color: black;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: none;
}