body {
    background-color: lightgray;
}

h1 {
    color: black;
    border: 5px solid purple;
    background-color: white;
      box-shadow: 4px 4px 7px gray;
}
h2 {
    color: black;
    background-color: white;
    border: 5px solid purple;
    text-align: left
    margin: 5px 10px;
    padding: 5px 10px;
    box-shadow: 4px 4px 7px gray;
}
a {
    color: purple;
}

